/*
====== 
Styling for list items of the menu 
======
*/
/* give menu items padding */
ul li.page_item {
    padding: 0.8rem 1rem;
}
/* change color of anchor tags of menu item */
ul li.page_item a {
    color: #212529 !important;
}
/* For search bar in nav menu */
#nav-search{
    border: none;
    border-bottom: 1px solid #777;
    border-radius: 0;
}

/*
======= 
for UL who are nested within LI 
=======
*/
/* remove ul styling for ul which are nested within LI */
ul.children {
    list-style-type: none;
    padding-left: 0rem;
    padding-top: 0.5rem;
}

ul.children li {
    border-bottom: 1px solid #e5e5e5;
}

ul.children li a {
    padding: 0.5rem 0 0.5rem 0;

}

/*
======= 
For dropdown menu 
=======
*/

/* to make nested ul invisible */
.navbar-nav li ul {
    display: none;
    position: absolute;
    top: 3em;
    left: 0;
    z-index: 99999;
    width: 180px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.navbar-nav li ul li.page_item_has_children::after{
    content: ' \f054';
    float: right;
    font-size: 1rem;
}
.navbar-nav li ul li ul{
    position: absolute;
    top: -8px;
    left: 100%;
}
/* Display the nested UL when hover over list that has nested UL */
.navbar-nav li.page_item_has_children:hover>ul {
    display: block;
}
/*styling to make sure everything appears nicely*/
li.page_item_has_children {
    position: relative;
}

li.page_item_has_children ul li {
    position: relative;
}

/* 
===========
    COMMENTS PAGE
===========
*/
#commentform label{
    display: block;
}
#commentform textarea,input{
    width: 100%;
    border: 1px solid #fefefe;
    border-radius: 5px;
}
#reply-title{
    color: #03a87c;
}
#commentform p.form-submit{
    display: flex!important;
    justify-content: flex-end;
}
#commentform #submit{
    background-color: #03a87c;
    color: #fefefe;
    width: 9rem;
    padding: 0.5rem;
    border: none;
    margin-top: 1rem;
}
/* Comment box */
#respond{
    background-color: #E8F3EC!important;
    padding: 2rem;
}
ol.comment-list{
    list-style-type: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0;
}
ol.children{
    list-style-type: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
/* Search styling */
#search-form input{
    border: 1px solid #ced4da;
    padding: 0.45rem 1.2rem;
}
/* search results title for result */
h2.entry-title::first-letter{
    font-size: 2rem;
}